#Header {
	background-color: rgb(77, 141, 168);
	color:rgb(175, 191, 198);
}

body {
	background-color: rgb(66, 116, 137);
	font-family: Helvetica, sans-serif;
}

#HomePageContainer {
	background-color: rgb(97, 145, 165);
}